{"jdx_orm_spec_file": "./config/gilhari10_hr_PostgreSQL.jdx",  
"jdbc_driver_path":   "./config/postgresql-42.7.3.jar",
"db_username": "postgres",  
"db_password": "Enter Your Password",  
"jdx_debug_level": 3,  
"jdx_force_create_schema": "true",  
"jdx_persistent_classes_location": "./bin",  
"classnames_map_file": "./config/classnames_map_example.js",  
"gilhari_rest_server_port": 8088}
