{"jdx_orm_spec_file": "./config/gilhari10_hr_MySQL.jdx",  
"jdbc_driver_path":   "./config/mysql-connector-j-8.4.0.jar",
"db_username": "root",  
"db_password": "INPUT YOUR PASSWORD OVER HERE",  
"jdx_debug_level": 3,  
"jdx_force_create_schema": "true",  
"jdx_persistent_classes_location": "./bin",  
"classnames_map_file": "./config/classnames_map_example.js",  
"gilhari_rest_server_port": 8081}
